.App {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#203239;
  }

h6{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.18em;
    /* text-shadow:  rgba(0, 0, 1, 0.4) 1px 7px 6px; */
}

h1 {
  font-family:'georgia',cursive;
}

.Welcome-Banner{
    margin: auto;
    font-size: 30px;
    animation: moveup 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #E0D3C1;
}

/* BUTTONS */
.button-explore{
    background-color: #532D4A;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 239px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.11em;
    font-weight: 500;
    cursor:pointer;
    line-height: 24px;
    font-style: normal;
    margin-bottom: 50px;
}

.narrow .button-explore-mini{
    background-color: #423D40;
    text-decoration: none;
    width: 20%;
    box-shadow:  rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: 20px;
    border-radius: 20px;
    font-size: 10px;
    color: white;
    font-family: 'georgia';
    letter-spacing: 5px;
    cursor:pointer;
    position: fixed;
    z-index: 1;
}
.button-explore:hover{

    background-color: white;
    color:#423D40;
}



/* NAV BAR DESIGNS */
.nav-bar{
    position: fixed;
    width: 103%;
    z-index: 1;
    top: 25px;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

.nav-bar.active{
  top: 0;
  background-color: #FFFFFF;
  width: 100%;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  height: 10%;
  transition: 1s;
}

/* .home a{
  text-decoration:underline;
  text-decoration-color: #203239;
  text-decoration-thickness: 2px;
  text-decoration-style:wavy;
} */
/* .nav-bar.active .logo-name{
  padding: 5px; 
  margin: auto;
}
.nav-bar .logo-name{
  padding: 5px; 
  margin: auto;
} */
/*Logo in header*/
.logo-name{
  width: 100px;
  padding: 5px; 
  margin: auto;
}

.logo-name img{
width: 50%;
}

.nav-bar.active .logo-name{
   padding: 10px;
  visibility: visible;
}

.nav-bar.active li a{
  font-size: 18px;
  font-weight:normal;
  color: #203239;
}
.nav-bar.active ul{
  margin-left: 50px;
  margin-right:50px;
}

/* MENU ICONS */
.menu-icon{
  float: right;
  top: 10px;
  position: flex;
  visibility: hidden;
}
/* .nav-menu.active{
  visibility: hidden;
} */

/*WORKS*/
.column img{
  width: 227px;
  height: 138px;
}
.column img:hover{
  width: 300px;
  transition: 1s;
}

.column{
  display: flex;
  background: rgba(255, 255, 255, 0.32);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.column h3{
  font-size: 18px;
}

/* LOGO DESIGNS */
.logo-div{
  margin-top: 130px;
  z-index: -1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo-div img{
  width: 320px;
  padding: 15px;
}

.intro-title{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.11em;
  color: #532D4A;
}

.hello-banner{
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: #532D4A;
  margin-top: 50px;
  margin-bottom: 0;
}

.hello-desc{
  color: #532D4A;
  position: relative;
  font-size: 36px;
  line-height: 5px;
  font-weight: 500;
}

.title-description{
  font-weight: 400;
  font-size: 16px;
  margin-top: 110px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.11em;
  color: #532D4A;
}

/* UL LI ON THE NAV BAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
  }
  
  li {
    margin: 25px; 
    display:inline-block;
    float: none;
  }
  
  li a{
    color: white;
    text-decoration: none;   
    font-weight: 400;
  }


  a{
    text-decoration: none;  
    /* text-transform: uppercase; */
    /* font-weight: bold; */
    letter-spacing: 0.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    
  }

  .nav-menu a:hover{
    color:#203239; 
    text-decoration:underline;
    text-decoration-color: #203239;
    text-decoration-thickness: 2px;
    text-decoration-style:wavy;
  }

  .nav-menu a:active{
    text-decoration:underline;
    text-decoration-color: #203239;
    text-decoration-thickness: 2px;
    text-decoration-style:wavy;
    color: red;
}


.column-sticky{
  bottom: 0px;
  width: 100%;
  z-index: 1;
  position:sticky;
  float: left;
  /* background-color: #f7e1e6; */
  border-radius: 10px;
  padding: 10px;
  /* top: -100px; */
  /* margin-left: 50px; */
  animation: moveup 1s linear 1;
  animation-delay: 1s;
  /* visibility: hidden; */
  animation-fill-mode: forwards;
}
.social-med-logos{
  bottom: 20px;
  z-index: 1;
  position:sticky;
  float: right;
  /* background-color: #f7e1e6; */
  border-radius: 10px;
  padding: 10px;
  /* top: -100px; */
  margin-right: 80px;
  animation: moveleft 1s linear 1;
  animation-delay: 1s;
  /* visibility: hidden; */
  animation-fill-mode: forwards;
}

/* EMAIL */
.column-sticky .email-add{
  /* position: absolute; */
  /* margin-top: 0px; */
  
  bottom:0;
  /* transform: rotate(-90deg); */
  /* overflow-y: hidden; */
}

.column-sticky .line{
  color: #532D4A;
}

.about-me-div{
  height: 500px;
  transition: 1s;
  visibility: hidden;

}

.about-me-div-active{
  visibility: visible;
  transition: 1s;
  margin: 100px;
  animation: moveleft2 0.5s linear 1;
  /* /* animation: zoom-in-zoom-out 1s linear 1 ; */
  animation-fill-mode: forwards;
  text-align: left;
  margin-left: 200px;
  margin-right: 150px;
  font-size: 18px;
  width: 100%;
  /* border-radius: 20px; */
  /* background-color: #F4FCD9; */
  border-top: 1px #203239 solid;
  border-bottom: 1px #203239 solid ;
  padding: 40px;
  opacity: 0.9;
}

.about-me-content{
  display: flex;
  flex-direction: row;
}
.child1 {
  width: 40%;
  height: 100%;
  background-color: #E0D3C1;
  text-align: right;
  padding: 20px;
  margin: 10px;
}

.child1 img{
  width: 100%;
}

.child2 {
  width: 60%;
  height: 100%;
  padding: 0px;
  float: left;
}
.child2 p{
  text-align: left;
  float: left;
  line-height: 40px;
  margin: 25px;
}
.child2  .what-ido-button{
  float: right;
  font-weight: bold;
  cursor:pointer;
  text-decoration: underline;
}

.child2 .what-ido-button:hover{
  font-weight: bold;
  color: #532D4A;
  text-decoration-style: double;
}

.what-ido-button .fa.fa-chevron-right{
  color: #203239;
}

.coding-content{
  display: flex;
  flex-direction: row;
}

.coding-content .child1{
  width: 20%;
  padding: 5px;
}

.coding-content .child2{
  width: 80%;
  margin-left: 30px;
}

.coding-content .title-description{
  font-size: 12px;
  line-height: 30px;
}

.contact-content{
  display: flex;
  flex-direction: row;
  
}

.contact-content .child1{
  width: 30%;

}
.contact-content .child2{
  width: 70%;
  margin-left: 50px;
}

.contact-content .child2 .title-description{
  margin: 0;
}

.contact-content .child2 a{
  color: #532D4A;
}

.contact-content .child2 a:hover{
  color: #F4FCD9;
}


 h1{
  color: #203239;
  /* font-style: italic; */
  text-transform: uppercase;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFF89A;
  height: 20px;
  width: 50%;
}
.about-me-div-active h2{
  text-transform:uppercase;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration:underline;
}
.about-me-div-active h6{
  margin-top: -2px;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  text-align: justify;
  /* background-color: #FFF89A; */
  /* border-top: 1px #203239 solid;
  border-bottom: 1px #203239 solid ; */
  color: #203239;
  text-transform:none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Coding Sample works*/
.coding-banner{
  /* background-color: #F4FCD9; */
  text-align: left;
}

.coding-banner h2{
  background: rgba(83, 45, 74, 0.38);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 5px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  padding: 8px;
  display:inline-flex;
  text-align:center;
}

.footer{
  position:fixed;
  bottom:0;
  width:100%;
  /* font-style: italic; */
  /* opacity: 0.5; */
  color:#203239;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer h6{
  text-transform: lowercase;
  color:#532D4A;
  float: left;
  transform: rotate(-90deg);
  margin-left: -120px;
  margin-top: -280px;
  position: fixed;
 
}




  .fa{
      margin-bottom: 5px;
      /* line-height: -20px; */
      /* margin-bottom: 25px; */
      color: #532D4A;
      /* background-color: white; */
      padding: 5px;
      /* border-radius: 10px; */
      font-size: 18px;
     
  }

  .fa.fa-chevron-right{
    color: #FFFFFF;
    font-size: 14px;
  }

/* COLUMN DESIGNS */
  .parent{
    display: flex;
    margin: 90px;
    width: 70%;
    margin-left: 200px;
    margin-top: 150px;
    transition: 1s;
    animation: moveleft2 0.5s linear 1;
    animation-fill-mode: forwards;
    text-align: left;
    font-size: 18px;
    border-radius: 20px;
    background-color: #F4FCD9;
    padding: 40px;
    opacity: 0.9;
    border: 1px #203239 solid;
    
  }
  .narrow {
    width: 800px;
    height: 300px;
    text-align: left;
    margin-left: 30px;

  }
 

/* .name{
    font-size: 50px;
    margin-bottom: -10px;
    margin-top: -20px;
} */
/* 
.name-tags{
    margin-top: 50%;
} */


.narrow h6{
    font-size: 20px;
    margin: 10px;
    color: #203239;
    text-transform: lowercase;
    text-align: justify;
}

.narrow h1{
  color: #203239;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.narrow-left h6{
    font-size: 20px;
    margin: 10px;
}

  .wide {
    flex: 1;
    color: white;
    background-color: #FFF89A;
    border: 1px #203239 solid;
    border-radius: 20px;
    height: 320px;
    position: relative;
    margin: 10px;
  }
 

/* LOGO MAIN PAGE DESIGNS */
  .logo-main{
    width: 30%;
    margin-bottom: -100px;
    animation-name: floating;
    /* animation-duration: 5s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    z-index: -1;
  }



  .logo-nav{
    width: 10%;
    position: relative;
  }

/* FOR RESPONSIVE SCREEN MEDIA */
  @media screen and (max-width: 1000px) {
      /*Footer h6*/
      .footer h6{
        visibility: hidden;
      }

      .about-me-div-active{
        border-bottom: none ;
      }

      /*WORKS*/
      .coding-content{
        margin: 0;
      }
      .column img{
        width: 200px;
        margin-left: 20px;
        /* float: left; */
 
      }

       .column {
        /* margin-top: 40px;  */
        display: inline-block;
        background: rgba(255, 255, 255, 0.32);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
      }

      .coding-content .child2{
        /* background-color: green; */
        width: 100%;
        margin-left: -15px;
      }
      .contact-content .child1{
        visibility: hidden;
      }
      .contact-content {
      display: inline;
      }

      .contact-content .child2{
        width: 100%;
        margin-left: -15px;
        margin-top: -200px;
      }
    
      .contact-content .child2 .hello-banner{
        font-size: 26px;
      }
      .contact-content .child2 .title-description,a{
        font-size: 14px;
      }

    .logo-div img{
      width: 200px;
      padding: 15px;
    }

    .dropdown-content a {
      display: block;
      text-align: center;

    }
    .dropdown-content{
      float: right;
      margin-left: 100px;

    }
    li {
      float: none;
      font-size: 20px;
      text-align: right;
      visibility: hidden;
    }
    .logo-name{
      visibility: hidden;
    }
    .narrow {
      width: 100%;
      height: 350px;
      text-align: left;
      margin: auto;
    }
    .narrow h6{
      margin: auto;
      margin-left: -25px;
    }
    .name{
      margin: auto;
      margin-left: -25px;
      font-size: 50px;
    }
    .narrow h1{
      margin-left: -20px;
      margin-bottom: -5px;
      color: #203239;
      font-style: italic;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .wide {
      display: none;
      visibility: hidden;
    }

    .parent{
      width: 50%;
      top:0;
      left: 0;
      right: 0;
      margin: auto;
      height: 500px;
      
    }

    .this-is-div{
      margin-top: 150px;
      overflow: hidden;
    }
   .narrow.button-explore-mini{
      width: 70%;
      height: 50px;
      position: absolute;
  }
    .down-banner{
      margin-top: 500px;
    }
    .fa{
      margin-left: 5px;
      line-height: -20px;   
      font-size: 16px;
  }
    /* .socialmedia{
      margin-left: -10px;
    } */
    .social-med-logos{
      text-align: right;
      margin-bottom: -120px;
      float: none;
      margin-right: 10px;
      background-color: transparent;
  }

  .column-sticky .email-add{
     visibility: hidden;
  }
    
    .button-explore{
      width: 40%;
      height: 5;
      font-size: 10px;
    }

    .fa.fa-chevron-right{
      font-size: 10px;
    }

  h6{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  h2{
    margin-top: 40px;
  }
h1{
  margin-bottom: 80px;
}
  .logo-main{
    width: 80%;
    margin-bottom: -50px;
  }
  .Welcome-Banner{
      width: 100%;
      height: 100%;
      margin-bottom: 150px;
  } 

  .Welcome-Banner .logo-div .intro-title{
    font-size: 10px;
  }
  
  .Welcome-Banner .logo-div .hello-banner{
    font-size: 40px;
  }
  
  .Welcome-Banner .logo-div .hello-desc{
    font-size: 26px;
  }
  
  .Welcome-Banner .logo-div .title-description{
    font-size: 12px;
  }


  .menu-icon{
    float: right;
    top: 10px;
    margin-right: 30px;
    position: flex;
    visibility:visible;
    cursor: pointer;
  }
  .menu-icon i:hover{
    color: #F4FCD9;
  }
  .menu-icon i{
    font-size: 20px;
    color: #203239;
  }
  .nav-menu.active{
    background-color: #F4FCD9;
    border: 1px #203239 solid;
    opacity: 0.8;
    /* animation: moveleft 1s linear 1; */
    visibility: hidden;
    animation: zoom-in-zoom-out 1s linear 1 ;
    animation-fill-mode: forwards;
    top: 0;
    margin-left: 30px;
    border-radius: 20px;
    height: 100%;
  }


  .nav-menu.active li{
    visibility:visible;
    position: relative;
    display:block;
    margin: 10px;
  }
  
  .nav-menu.active .logo-name{
    visibility:hidden;
    position: absolute;
    margin-right: 150px;
  }

  .nav-bar.active .logo-name{
    visibility: hidden;
  }
  
  .nav-menu.active a{
    color: #203239;

  }
  .nav-bar.active .menu-icon{
    margin-right: 30px;
    margin-top: 15px;
  }
  .nav-bar.active{
    background-color: transparent;
    border: none;
    height: 25%;
  }
.about-me-div-active{
  width: 50%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.about-me-div-active h6{
  font-size: 18px;
  margin-top: 100px;
}

.about-me-content{
  flex-direction: column;
}

.coding-content{
  flex-direction: column;
}
.child1 {
  /* background-color: green; */
  text-align: right;
  padding: 0px;
  width: 100%;
}
.child1 img {
 width: 100%;
}
.child2 {
  width: 100%;
  padding: 0px;
}
.child2 .intro-title .hello-banner .title-description{
  text-align: left;
  float: left;
}
.coding-banner .intro-title{
  width: 100%;
}
.coding-banner h2{
  display:inline;
}

}
/* //end */



  .email-name{
      text-decoration: underline;
      color: blue;
      font-size: 18px;
  }
  .dropdown-content {
    display: none;
    background-color: transparent;
    border: 1px #203239 solid;
    border-radius: 20px;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #203239;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    
  }  

  /* .dropdown-content a:hover {
      color: #203239;
      text-decoration: underline;
    } */

    

    .column{
      width:100%;
      margin: 20px;
      padding: 20px;
      border-radius: 20px;
    }
    
  .descrip{
    font-size: 20px;
    text-align: center;
  }

  .white-name{
    color:#FFFFFF;
    font-weight: 700;
    /* font-size: 20px; */
  }

  .up-icon .fa{
    font-size: 50px;
    margin-top: -50px;
    color:#423D40;  
  }

  .up-icon{
    /* margin-top: 25px; */

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: auto;
  }
  
  .up-icon h6{
    margin-left: 22px;
    color: #203239;
  }

 

  /* ANIMATION */
  @keyframes moveup {
    0%{
      transform: translateY(100px);
      visibility: visible;
    }
    100%{
      transform: translateY(0px);
      visibility: visible;
    }
  }

  
  @keyframes zoom-in-zoom-out {
    0% { 
      opacity: 0; 
      transform: scale(0.5) translateX(200px) translateY(-120px);
      visibility: visible;
      /* clip-path: circle(0%);  */

    
    }

    100% { 
      opacity:  0.8; 
      transform: scale(1) translateX(0px) translateX(0px) translateY(0px);
      visibility: visible;
      /* clip-path: circle(70%);  */
      }
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }   
}
  @keyframes moveleft {
    0%{
      transform: translateX(100px);
      visibility: visible;
    }
    100%{
      transform: translateX(0px);
      visibility: visible;
    }
  }

  @keyframes moveleft2 {
    0%{
      transform: translateX(100px);
      visibility: visible;
      width: 40%;
    }
    100%{
      transform: translateX(0px);
      visibility: visible;
      width: 67%;
    }
  }

  @keyframes movedown {
    0%{
      transform: translateY(-100px);
      visibility: visible;
    }
    100%{
      transform: translateY(0px);
      visibility: visible;
    }
  }
