.App {
    text-align: center;
    font-family:  'georgia';

  }

h6{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin-top: -20px;
    margin-bottom: 20px;
}


hr{
    position: relative;
    border: none;
    height: 2px;
    background: black;
    margin-bottom: 5px;
}

.Welcome-Banner{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10px;
    font-size: 30px;
    width: 50%;
}

.button-explore{
    background-color: #423D40;
    text-decoration: none;
    width: 80%;
    box-shadow:  rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: 70px;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    font-family: 'georgia';
    letter-spacing: 5px;
    cursor:pointer;
}
.button-explore-mini{
    background-color: #423D40;
    text-decoration: none;
    width: 20%;
    box-shadow:  rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: 20px;
    border-radius: 20px;
    font-size: 10px;
    color: white;
    font-family: 'georgia';
    letter-spacing: 5px;
    cursor:pointer;
}
.button-explore:hover{

    background-color: white;
    color:#423D40;
}

.nav-bar{
    margin: 70px;
  
}

.logo-name{
    float: left;
    font-size: 40px;
    text-decoration-line: underline;
    text-decoration-line: 50px;
}

.logo-name a:hover{
    color: gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
 
  }
  
  li {
    float: right;
    font-size: 40px;
    margin: 20px;
    
  }
  
  li a{
    color: black;
    text-decoration: none;
  }
  
 
  

  a{
    text-decoration: none;  

  }
  a:hover{
    text-decoration: underline; 
    color:gray; 

  }
.social-med-logos{
    margin-top: 60px;
    position: relative;
    bottom: 0;
}

  .fa{
      margin-left: 15px;
      line-height: -20px;
      margin-bottom: 25px;
      color: black;
      background-color: white;
      padding: 10px;
      border-radius: 10px;
     
  }

  .parent{
    display: flex;
    margin: 90px;
    margin-bottom: 120px;
  }
  .narrow {
    width: 800px;
    height: 100px;
    text-align: left;
    margin-left: 30px;

  }
 

.name{
    font-size: 50px;
    margin-bottom: -10px;
    margin-top: -20px;
}

.name-tags{
    margin-top: 50%;
}


.narrow h6{
    font-size: 20px;
    margin: 10px;
}
.narrow-left h6{
    font-size: 20px;
    margin: 10px;
}

  .wide {
    flex: 1;
    color: white;
    background-color: gray;
    border-radius: 20px;
    height: 320px;
    position: relative;
    margin: 10px;
  }
 
  @media screen and (max-width: 600px) {
    li {
      float: none;
    }
    .narrow {
      width: 100%;
      height: 100px;
      text-align: left;
      margin: auto;
    }
    .narrow h6{
      margin: auto;
      margin-left: -25px;
    }
    .name{
      margin: auto;
      margin-left: -25px;
      font-size: 50px;
    }
    .narrow h1{
      margin-left: -20px;
      margin-bottom: -5px;
    }
    .wide {
      display: none;
    }
    .button-explore-mini{
      width: 70%;
      height: 50%;
  }
    .down-banner{
      margin-top: 500px;
    }
    .fa{
      margin-left: 5px;
      line-height: -20px;   
  }
    .socialmedia{
      margin-left: -10px;
    }
    .social-med-logos{
      width: 250px;
  }
  .Welcome-Banner{
    text-align: left;
    margin-left:  20%;
}
  }



  .email-name{
      text-decoration: underline;
      color: blue;
      font-size: 18px;
  }
  .dropdown-content {
    display: none;
    background-color: gray;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'georgia';
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    
  }  

  .dropdown-content a:hover {
      color: black;
      text-decoration: underline;
    }

    .columns{
      margin: auto;
    }

    .column{
      width:100%;
      margin: 20px;
      padding: 20px;
      border-radius: 20px;
    }
    
    .column {
      flex: 33.33%;
    }

    @media (min-width: 48em) {
      .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
    img{
      width: 100%;
    }
 
  }

  img{
    width: 100%;
    box-shadow:  rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  .descrip{
    font-size: 20px;
    text-align: center;
  }

  .white-name{
    color:#F5F5F5;
  }

  .fas{
    font-size: 50px;
    margin-top: -50px;
    color:#423D40;  
  }